.App {
    text-align: center;
}

body {
    background-color: bisque !important;
}
body .bg-dark {
    background-color: cornflowerblue !important;
}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    height: 400px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-primary {
    margin: 20px;
    background-color: orange !important;
}
.btn-primary:hover {
    background-color: blue !important;
    border-color: orangered !important;
}
.navbar .navbar-nav > li > a:hover {
    background-color: red !important;
}
.navbar-brand,
.navbar-nav {
    color: black !important;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #fb7840 !important;
}
.jumbotron {
    background: none !important;
    padding-top: 4%;
}

.player-wrapper {
    position: relative;
}
.react-player {
    display: block;
    margin: auto;
}
