.App {
    text-align: center;
}

body {
    font-family: "Fredoka One", cursive !important;
}
body .bg-dark {
    background: none !important;
}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    width: 60%;
    height: 400px;
    margin-bottom: 0;
}

.btn-primary {
    margin: 20px;
    background-color: #eb822e !important;
    width: 350px;
    height: 70px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: cornflowerblue !important;
    border-color: orangered !important;
}
.navbar {
    background-color: #66cbdf !important;
}
.navbar .navbar-brand {
    color: #e9d366 !important;
    font-size: 35px;
    text-shadow: 2px 2px 4px #000000;
}
.links {
    width: 100%;

    margin-right: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #eb822e !important;
}
.jumbotron {
    background: none !important;
}
.jumbotron h1 {
    color: #e9d366 !important;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
.jumbotron p {
    margin-top: 2%;
    font-size: 30px;
}
.jumbotron button {
    font-size: 23px;
}
.cards {
    margin: 0 5% !important;
}
.card1 {
    width: 20rem;
    background-color: lightblue !important;
}
#card1h {
    color: white;
    font-size: 35px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}
#card1p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}

.card2 {
    width: 20rem;
    background-color: #e9d366 !important;
}
#card2h {
    color: white;
    font-size: 35px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}
#card2p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}
.card3 {
    width: 20rem;
    background-color: lightblue !important;
}
#card3h {
    color: white !important;
    font-size: 35px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}
#card3p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
}
.player-wrapper {
    position: relative;
    margin-top: 20%;
}
.react-player {
    display: block;
    margin: auto;
}
.github {
    color: white;
}
.github:hover {
    color: orange;
}
.mail {
    color: white;
}
.mail:hover {
    color: orange;
}
#videoh {
    color: #e9d366;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
.learn {
    margin-top: 10%;
    margin-bottom: 40%;
}
.forms {
    text-align: left;
    background-color: bisque !important;
}

@media only screen and (max-width: 800px) {
    .bg2 {
        display: none;
    }
    .navbar .navbar-brand {
        font-size: 25px;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron button {
        font-size: 15px;
    }
}
