.App {
    text-align: center;
}

body {
    font-family: "Fredoka One", cursive !important;
}
body .bg-dark {
    background: none !important;
}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    height: 400px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-primary {
    margin: 20px;
    background-color: #eb822e !important;
    width: 350px;
    height: 70px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: cornflowerblue !important;
    border-color: orangered !important;
}
.navbar .navbar-nav > li > a:hover {
    background-color: red !important;
}

.nav-link:hover {
    color: #eb822e !important;
}

.player-wrapper {
    position: relative;
    margin-top: 20%;
}
.react-player {
    display: block;
    margin: auto;
}
